.DS*
*/.DS*
*/*/.DS*
*/*/*/.DS*
*/*/*/*/.DS*
*/*/*/*/*/.DS*
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__

/tools/
/bakLlava-v1-hf/
/stable-diffusion-1.5/
